div.homeTable {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
tr {
  text-align: center;
}
.paging {
  text-align: center;
}
.searchTitle {
  width: 500px;
  margin-top: 50px;
}

.paging {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn4 {
  margin-left: 10px;
  width: 103px;
}
